<main class="main" role="main">
  <div class="container">
    <h1 class="title" aria-label="Side tittel">{{ title }}</h1>
    <p class="results" aria-live="polite" aria-atomic="true">{{ results }}.</p>
    @if (weatherData) {
      <div class="weather-info">
        <p class="temperature" aria-label="Nåværende temperatur">Temperaturen er {{ weatherData.current.temperature_2m }}°C.</p>
        <img class="img" [src]="imageUrl" [alt]="getWeatherDescription()" />
      </div>
    }
  </div>
</main>
<router-outlet></router-outlet>